body {
  background: url("KMP_092216_8620.jpg");
  background-color:#555;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: screen;
  margin:0;
  background-position: top;
  height: 100vh;
}

/*
header {
  margin:20px;
  background: #000;
  border: 3px solid #777;
  border-radius: 3px;
  opacity: .9;
}
*/

header {
  position: fixed;
  top: 20px;
  width:98%;
  left:1%;
  background: #000;
  border: 3px solid #777;
  border-radius: 3px;
  opacity: .9;
  z-index: 9;
}

header h1 {
  color: #F1F1F1;
  font-family: Helvetica;
  font-size: 40px;
  margin-bottom: 0;
  margin-top:15px;
}

header p {
  color: #999;
  font-family: Helvetica;
  font-size: 20px;
  margin-top: 0px;
  padding-bottom: 15px;
}


main {
      margin-top: 160px;
      margin-bottom: 60px;
}

#content {
  background: #888;
  margin: 0 auto;
  width: 960px;
  padding: 15px;
  border-radius: 3px;
  box-shadow: #222 5px 5px 35px 1px;
}

#content section {
  width: 930px;
  background: #666;
  margin:15px auto;
  margin-top: 0;
  padding: 15px;
  border-radius: 3px;
  box-shadow: #333 1px 1px 3px 0px;
}

section h2 {
  margin-top: 0;
  margin-bottom: 0;
  color: #222;
}

section p {
  margin: 0 15px;
}

section h2 + p {
  margin:0px 15px 10px;
  color: #999;
}

#goals {
  margin-bottom: 0;
}

header section {
  width: 960px;
  margin: 0 auto;
  background: #000;
}

header section p{
  margin: 0;
}

.section_wraper{
  background: #000;
}

.top-ten div {
 margin:0 auto;
}

.top_ten h2, .top_ten p {
  text-align: center;
}

.top_ten ol {
  width: 800px;
  box-shadow: #555 5px 5px 20px;
  padding: 15px;
  margin:20px auto;
  border-radius:5px;
  font-size: 18px;
  column-count:2;
  background: #888;
}

.top_ten ol li {
  margin-left: 15px;
  padding: 2px 0 2px 10px;
  border: 1px solid #777;
  border-radius: 3px;
}

.top_ten ol li:nth-child(odd){
  background: #777;
}

header div{
  display: inline-block;
}

.chicken_wrap{
  position: relative;
  margin-left: 60%;
  float:left;
}

.chicken_logo {
  position: absolute;
  height:200px;
  width:300px;
  text-align: center;
  background:#F1F1F1;
  border-bottom-left-radius: 800px 400px;
  border-top-left-radius: 800px 400px;
  border-top-right-radius: 400px 400px;
  border-bottom-right-radius: 400px 400px;
  box-shadow: inset #333 -10px -10px 50px 10px;
}

.chicken_logo img{
  height:160px;
  margin-top: 20px;
  margin-left: 10px;
}

footer {
  height: 40px;
  position: fixed;
  bottom: 0px;
  width:98%;
  left:1%;
  background: #000;
  border-top: 3px solid #777;
  border-bottom: 3px solid #777;
  border-radius: 3px;
  color: #999;
  font-size: 20px;
  text-align: center;
}

footer p {
  margin-top:10px;
}


footer img{
  margin: 0 20px;
  margin-top: 4px;
  float: right;
}

footer img:first-child{
  float: left;
  transform: scale(-1,1);
}

.edu {
  display:inline-block;
  width:480px;
}

#education {
  position:relative;
}

.note {
  display:inline-block;
  width:300px;
  height:300px;
  margin:0 auto;
  background:#D0D08F;
  border:1px solid #D0D03F;
  border-top-right-radius:1000px 50px;
  border-bottom-left-radius:500px 50px;
  border-bottom-right-radius:50px 1000px;
  box-shadow:#333 2px 10px 30px 2px, inset #D0D07F -50px -50px 200px;
  transform: rotate(-10deg);
  font-family: 'Annie Use Your Telescope', cursive;
  line-height: 22px;
  font-size: 20px;
  position:absolute;
  float: right;
  top: -5px;
  right: 80px;
  overflow: hidden;
}

.note div:first-child{
  height: 40px;
  background: #D0D07F;
}

.note-text {
  width:240px;
  margin:0 20px;
  color: #023663;
}

.note-text p{
  font-size: 22px;
  font-weight: bold;
  margin-bottom:5px;
}
.note li {
  padding:5px;
  list-style: none;

}
