body {
  background: radial-gradient(#888, #000), url("KMP_010115_4257A.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: screen;
}

header {
  margin:20px;
  background: #000;
  border: 3px solid #777;
  border-radius: 3px;
  opacity: .9;
}

header h1 {
  color: #F1F1F1;
  font-family: Helvetica;
  font-size: 40px;
  margin-bottom: 0;
}

header p {
  color: #999;
  font-family: Helvetica;
  font-size: 20px;
  margin-top: 0px;
  padding-bottom: 15px;
}

#content {
  background: #888;
  margin: 0 auto;
  width: 960px;
  padding: 15px;
  border-radius: 3px;
  box-shadow: #222 5px 5px 35px 1px;
}

#content section {
  width: 930px;
  background: #666;
  margin:15px auto;
  margin-top: 0;
  padding: 15px;
  border-radius: 3px;
  box-shadow: #333 1px 1px 3px 0px;
}

section h2 {
  margin-bottom: 0;
  color: #222;
}

section p {
  margin: 0 15px;
}

section h2 + p {
  margin:5px 5px;
  color: #999;
}

#goals {
  margin-bottom: 0;
}

header section {
  width: 960px;
  margin: 0 auto;
  background: #000;
  opacity: .9;
}

header section p {
  margin: 0;
}

.top-ten div {
 margin:0 auto;
}

.top_ten ol {
  width: 800px;
  box-shadow: #555 5px 5px 20px;
  padding: 15px 15px 10px 15px;
  margin:20px auto;
  border-radius:5px;
  font-size: 18px;
  column-count:2;
}

.top_ten ol li {
  margin-left:15px;
}

.top_ten ol li:nth-child(odd){
  background :#6c6c6c;
  border-radius:3px;
}
